html, body, #q-app {
  height: 100%;
  margin: 0;
}

.logo-container {
  padding: 20px 10px 20px 30px;
}

@media (max-width: 576px) {
  .logo-container {
    padding: 15% 10px 10% 13%;
  }
}
@media (max-width: 380px) {
  .logo-container {
    padding: 15% 10px 10% 11%;
  }
}


.notebook-input {
  padding-left: 20px;
  width: 270px;
}
@media (max-width: 576px) {
  .notebook-input{
    padding: 5% 5% 5% 15%;
    width: 77%;
  }
}

.add-btn-container {
  padding-top: 8px;
  padding-left: 20px;
}
@media (max-width: 576px) {
  .add-btn-container{
    padding-top: 27px;
    
  }
}




.add-btn {
  height: 20px;
  width: auto;
}

.dialog-card {
  height: 177px;
  width: 177px;
}

.spacer {
  padding-top: 5%;
}
@media(max-width:576px){
  .spacer {
  padding-top: 2%;
}
}

.delete-btn {
  padding: 4px;
}

.delete-icon {
  height: 20px;
}

.clear-label {
  font-size: 16px;
  color: #f8d02e;
  padding-left: 40%;
}
@media(max-width:576px){
  .clear-label {
  font-size: 22px;
  color: #f8d02e;
  padding-left: 43%;
  padding-bottom: 3%;
}
}
.title-section {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding-top: 9%;
}

.search-create-section {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding-top: 5%;
}

.search-input {
  padding-left: 20px;
  width: 270px;
}

.card-class {
  padding-left: 10px;
}
@media (max-width: 576px) {
  .card-class{
    padding-left: 15px;
    
  }
}

@media (max-width: 576px) {
  .search-input{
    padding: 5% 5% 5% 13%;
    width: 75%;
  }
}


.add-button-wrapper {
  padding-left: 20px;
}
@media (max-width: 576px) {
  .add-button-wrapper {
    padding: 5% 5% 5% 5%;
  }
}

.note-dialog {
  height: 177px;
  width: 177px;
}

.notes-scroll {
  height: 475px;
  overflow-y: auto;
}

.note-card {
  margin-bottom: 8px;
}

.note-title {
  font-size: 24px;
}

.note-notebook {
  color: goldenrod;
}

.delete-btn {
  padding: 4px;
}

.delete-icon {
  height: 20px;
}

.dialog-card {
  height: 177px;
  width: 177px;
}

.top-padding {
  padding-top: 5%;
}

.note-title-input {
  background-color: white;
  width: 80%;
}

.notebook-label {
  color: #f8d02e;
}

.note-editor {
  background-color: #242424;

}

.fixed-submit-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.page-black {
  background-color: black;
}

.full-height {
  min-height: 100vh;
}


.bg-sidepanel {
  background-color: #393939;
}

.bg-notelist {
  background-color: #2d2d2d;
}

.bg-editor {
  background-color: #242424;
}

.preview-label {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding-top: 7%;
}

.sync-btn {
  position: absolute;
  top: 1px;
  right: 1px;
}

.sync-icon-btn {
  padding: 0;
  min-width: 0;
}

.sync-icon {
  height: 40px;
}

.empty-img-container {
  padding-top: 30%;
  padding-left: 3%;
  display: flex;
  justify-content: center;
}

.empty-img-container img {
  padding-left: 3%;
}

@media (max-width: 576px) {
  .empty-img-container {
    padding-top: 11%;
    scale: 0.66;
} }

